<div class="container">
    <div class="card">
        <h3 class="text-left">Users List</h3>
        <div class="card-body">
            <!-- <input type="button" id="Add_New_User" value="Add New User" onclick="addNewUser();"> -->

            <table class="table tabke-striped">
                <thead>
                    <th>UserId</th>
                    <th>Name</th>
                    <th>SurName</th>
                    <th>Pincode</th>
                    <th>DOB</th>
                    <th>JoiningDate</th>

                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.userId}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.pincode}}</td>
                        <td>{{user.dob}}</td>
                        <td>{{user.joiningDate}}</td>
                        <!-- <td><input type="button" id="update" value="update" (click)="updateUser(user)"></td>-->
                        <td><input type="button" id="update" value="update" (click)="updateUserById(user.userId)"></td>
                        <td><input type="button" id="Delete" value="Delete" (click)="deleteUser(user.userId);" style="margin-left: 10px;"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>